<template>
    <div class="slider-area nav-style-1">
        <swiper :options="swiperOption">
            <swiper-slide class="single-slider slider-height-1 bg-purple">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-content slider-animation-1">
                                <h3>Promoción</h3>
                                <h1>LG 55" Smart TV<br>Solo por hoy.</h1>
                                <div class="slider-btn btn-hover">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="slider-single-img slider-img-animation">
                                <img src="https://vueltappublic.s3.amazonaws.com/logos/tvlg55.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide class="single-slider slider-height-1 bg-purple-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-content slider-animation-1">
                                <h3>Smart TV</h3>
                                <h1>Samsung 65"<br>Colección 2022</h1>
                                <div class="slider-btn btn-hover">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="slider-single-img slider-img-animation">
                                <img src="https://vueltappublic.s3.amazonaws.com/logos/tvqled55.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide class="single-slider slider-height-1 bg-purple">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-content slider-animation-1">
                                <h3>Samsung 20% Descuento</h3>
                                <h1>Con tarjeta<br>Giantronic</h1>
                                <div class="slider-btn btn-hover">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="slider-single-img slider-img-animation">
                                <img src="https://vueltappublic.s3.amazonaws.com/logos/tvs55.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <!-- Swiper Navigation Start -->
            <div class="hero-slider-nav swiper-button-prev">
                <i class="pe-7s-angle-left"></i>
            </div>
            <div class="hero-slider-nav swiper-button-next">
                <i class="pe-7s-angle-right"></i>
            </div>
            <!-- Swiper Navigation End -->
        </swiper>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                swiperOption: {
                    loop: true,
                    speed: 750,
                    slidesPerView: 1,
                    spaceBetween: 10,
                    effect: "fade",
                    fadeEffect: { 
                        crossFade: true 
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                }
            }
        },
    };
</script>