/*----- 2. Header style ----*/
.header-area {
    position: relative;
}

.sticky-bar.is-sticky {
	animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
	background-color: $white;
	border-bottom: 0 solid #4a90e2;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	left: 0;
	transition: all .3s ease 0s;
}
.header-padding-1 .container-fluid {
    padding: 0 80px;
    @media #{$xl-layout, $xs-layout}{
		padding: 0 15px;
	}
    @media #{$lg-layout}{
		padding: 0 30px;
	}
    @media #{$md-layout}{
		padding: 0 40px;
	}
}
.header-res-padding {
    @media #{$md-layout, $xs-layout}{
        padding: 20px 0 15px;
    }
}
@media #{$md-layout}{
    .header-ptb-hm5 {
        padding: 40px 0 15px;
    }
    .is-sticky {
        &.header-ptb-hm5 {
            padding: 20px 0 15px;
        }
    }
}
.logo {
	margin-top: 13px;
    @media #{$md-layout, $xs-layout}{
        margin-top: 0px;
    }
    &.logo-hm5 {
        margin-top: 41px;
        a.sticky-block {
            display: none;
        }
        @media #{$md-layout, $xs-layout}{
            margin-top: -14px;
            text-align: left !important;
        }
    }
}

.is-sticky {
   .logo-hm5 {
        a.sticky-block {
            display: block;
        }
        a.sticky-none {
            display: none;
        }
    } 
}

.main-menu {
    nav {
        ul {
            display: block;
            text-align: center;
            margin-top: -5px;
                li {
                    display: inline-block;
                    padding: 0 15px;
                    position: relative;
                    ul.submenu {
                        background-color: $white;
                        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
                        display: block;
                        left: 0;
                        padding: 20px 0px 22px;
                        position: absolute;
                        top: 100%;
                        transform: rotateX(90deg);
                        transform-origin: center top 0;
                        transition: all 0.5s ease 0s;
                        visibility: hidden;
                        width: 190px;
                        z-index: 999;
                        li {
                            display: block;
                            padding: 0 20px;
                            margin-left: 0px;
                            a {
                                color: $dark;
                                display: block;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 32px;
                                text-align: left;
                                text-transform: capitalize;
                                padding-top: 0px;
                                &:hover {
                                    color: $theme-color;
                                }
                                &::before {
                                    background-color: $theme-color;
                                    border-radius: 50%;
                                    content: "";
                                    height: 7px;
                                    left: 15px;
                                    opacity: 0;
                                    position: absolute;
                                    top: 13px;
                                    transition: all 0.3s ease-in-out 0s;
                                    width: 7px;
                                    z-index: 999;
                                }
                            }
                            &:hover a::before {
                                opacity: 1;
                            }
                            &:hover a {
                                padding-left: 12px;
                            }
                        }
                    }
                    ul.mega-menu {
                        background-color: $white;
                        display: block;
                        left: 0;
                        padding: 40px 40px 0px 40px;
                        position: absolute;
                        text-align: left;
                        top: 100%;
                        transform: rotateX(90deg);
                        transform-origin: center top 0;
                        transition: all 0.5s ease 0s;
                        visibility: hidden;
                        width: 770px;
                        z-index: 999;
                        box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
                        @media #{$lg-layout} {
                            left: -75px;
                            width: 750px;
                            padding: 40px 30px 0px 30px;
                        }
                        > li {
                            float: left;
                            margin-left: 0;
                            padding: 0;
                            width: 33.33%;
                            ul {
                                li.mega-menu-title {
                                    float: inherit;
                                    width: 100%;
                                    a {
                                        color: #242424;
                                        margin: 0 0 10px;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        font-weight: 500;
                                        &::before {
                                            display: none
                                        }
                                    }
                                    &:hover a {
                                        padding-left: 0px;
                                    }
                                }
                                li {
                                    display: block;
                                    float: inherit;
                                    padding: 0px;
                                    a {
                                        color: $dark;
                                        display: block;
                                        font-size: 13px;
                                        font-weight: 400;
                                        line-height: 32px;
                                        text-align: left;
                                        text-transform: capitalize;
                                        padding-top: 0px;
                                        position: relative;
                                        &:hover {
                                            color: $theme-color;
                                        }
                                        &::before {
                                            background-color: $theme-color;
                                            border-radius: 50%;
                                            content: "";
                                            height: 7px;
                                            left: 0px;
                                            opacity: 0;
                                            position: absolute;
                                            top: 13px;
                                            transition: all 0.3s ease-in-out 0s;
                                            width: 7px;
                                            z-index: 999;
                                        }
                                    }
                                    &.mega-menu-img {
                                        &:hover a {
                                            padding-left: 0px;
                                        }
                                        a {
                                           &::before {
                                                display: none;
                                            } 
                                        }
                                    }
                                    &:hover a::before {
                                        opacity: 1;
                                    }
                                    &:hover a {
                                        padding-left: 12px;
                                    }
                                }
                            }
                        }
                        &.mega-menu-padding {
                            padding: 40px 40px 36px 40px;
                            @media #{$lg-layout}{
                                left: 0px;
                                padding: 40px 30px 36px 30px;
                            }
                        }
                    }
                &:hover > ul.submenu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                &:hover > ul.mega-menu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                @media #{$lg-layout}{
                    padding: 0 7px;
                }
                @media #{$xl-layout}{
                    padding: 0 10px;
                }
                > a {
                    font-size: 15px;
                    color: #555252;
                    font-weight: 500;
                    letter-spacing: .8px;
                    display: inline-block;
                    line-height: 94px;
                    i {
                        font-size: 15px;
                        margin-left: 1px;
                        position: relative;
                        top: 0px;
                    }
                }
                &:hover a {
                    color: $theme-color;
                }
            }
        }
    }
    &.menu-white {
        nav {
            ul {
                text-align: left;
                li {
                    padding: 0 30px 0 0;
                    @media #{$xx-layout}{
                        padding: 0 22px 0 0;
                    }
                    @media #{$xl-layout, $lg-layout}{
                        padding: 0 14px 0 0;
                    }
                    > a {
                        color: #ffffff;
                        line-height: 112px;
                    }
                }
            }
        }
    }
}
.is-sticky .main-menu.menu-white nav ul li a {
    color: #555252;
    &:hover {
        color: $theme-color;
    }
}

.is-sticky .main-menu nav ul li a {
	line-height: 75px;
}

.is-sticky .logo ,
.is-sticky .header-right-wrap {
	margin-top: 9px;
    @media #{$md-layout, $xs-layout, $md-layout}{
        margin-top: 0px;
    }
}

.is-sticky .header-right-wrap .same-style .account-dropdown {
	top: 160%;
    @media #{$xs-layout, $md-layout}{
		top: 100%;
        margin-top: 14px;
	}
}

.header-right-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    @media #{$md-layout}{
        margin-top: 0px;
    }
    @media #{$xs-layout}{
        margin-top: 2px;
    }
    .same-style {
        margin-left: 15px;
        position: relative;
        > a,
        button {
            color: $black;
            font-size: 23px;
        }
        .mobile-aside-button {
            font-size: 28px;
            margin-top: -4px;  
            padding: 0;
        }
        &:first-child {
            margin-left: 0px;
        }
        &:hover > a {
            color: $theme-color;
        }
        .account-dropdown {
            background-color: $white;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
            right: 0;
            padding: 8px 12px 10px;
            position: absolute;
            top: 190%;
            width: 125px;
            z-index: 220;
            opacity: 0;
            visibility: hidden;
            transform-origin: top;
            transform: rotateX(90deg);
            transition: 0.4s;
            @media #{$xs-layout, $md-layout}{
                top: 100%;
                margin-top: 14px;
            }
            ul {
                li {
                    a {
                        display: block;
                        font-size: 13px;
                        line-height: 30px;
                        padding: 0;
                        text-transform: capitalize;
                        color: $black;
                        &:hover {
                            padding-left: 5px;
                            color: $theme-color;
                        }
                    }
                }
            }
            &.active {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0);
            }
        }
        .count-style {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: $black;
            color: $white;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            line-height: 18px;
            font-size: 12px;
            text-align: center;
            pointer-events: none;
            @media #{$xl-layout}{
                right: -5px;
            }
        }
    }
    .same-style.account-setting {
        button {
            font-size: 24px;
            background-color: transparent;
            border: none;
            padding: 0;
        }
    }
    .same-style.cart-wrap {
        button {
            background: transparent;
            border: none;
            padding: 0;
            color: $black;
            font-size: 24px;
            position: relative;
        }
        &:hover > button {
            color: $theme-color;
        }
        .minicart-wrapper {
            background-color: $white;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            padding: 30px;
            position: absolute;
            right: 0;
            top: 195%;
            width: 340px;
            z-index: 999;
            transform: rotateX(90deg);
            transform-origin: center top;
            transition: 0.2s;
            &.visible {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0deg);
            }
            @media #{$xs-layout} {
                right: -48px;
                overflow-y: auto;
                top: 100%;
                margin-top: 14px;
                padding: 30px;
            }
            @media #{$md-layout} {
                overflow-y: auto;
                margin-top: 18px;
                top: 100%;
                margin-top: 14px;
            }
            @media #{$lg-layout} {
                overflow-y: auto;
            }
        }
        .shopping-cart-content {
            ul {
                overflow-y: auto;
                max-height: 375px;
                margin-right: -15px;
                padding-right: 15px;
                li {
                    border-bottom: 1px solid #ebebeb;
                    display: flex;
                    margin-bottom: 20px;
                    padding-bottom: 15px;
                    .shopping-cart-img {
                        flex-basis: 80px;
                        margin-right: 15px;
                    }
                    .shopping-cart-title {
                        flex-basis: calc(100% - 80px);
                        h4 {
                            font-size: 15px;
                            line-height: 1.2;
                            padding-right: 10px;
                            a {
                                color: $black;
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                        h6 {
                            font-size: 13px;
                            margin: 5px 0 8px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                    .shopping-cart-delete {
                        button {
                            font-size: 16px;
                            color: $theme-color;
                            &:hover {
                                color: $dark;
                            }
                        }
                    }
                }
            }
            .shopping-cart-total {
                h4 {
                    font-size: 14px;
                    margin-bottom: 17px;
                    font-weight: 500;
                    span {
                        float: right;
                        
                    }
                }
            }
            .shopping-cart-btn {
                a {
                    margin-top: 20px;
                    padding: 16px 40px 17px;
                    font-weight: 500;
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }
    &.header-right-wrap-white {
        margin-top: 40px;
        .same-style {
            > a, button {
                color: $white;
            }
            .count-style {
                background-color: $white;
                color: $black;
            }
        }
        @media #{$md-layout}{
            margin-top: 0px;
        }
        @media #{$xs-layout}{
            margin-top: 3px;
        }
    }
    .same-style.header-search {
        button {
            background-color: transparent;
            border: none;
            padding: 0;
        }
        .search-content {
            background: #ffffff none repeat scroll 0 0;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            min-width: 300px;
            padding: 15px;
            position: absolute;
            right: 0;
            top: 193%;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            transform: rotateX(90deg);
            transform-origin: center top 0;
            transition: all 0.5s ease 0s;
            @media #{$md-layout}{
                top: 154%;
            }
            @media #{$xs-layout}{
                right: -105px;
                top: 154%;
                min-width: 260px;
            }
            &.active {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0deg);
            }
            form {
                position: relative;
                input {
                    border: 1px solid #d3d3d3;
                    outline: medium none;
                    padding: 5px 72px 5px 15px;
                    transition: all 0.4s ease 0s;
                    width: 100%;
                    color: $black;
                    background: transparent;
                }
                .button-search {
                    background: $theme-color;
                    border-color: #ce9634;
                    color: #ffffff;
                    position: absolute;
                    right: 0;
                    text-transform: uppercase;
                    top: 0;
                    border: none;
                    height: 100%;
                    padding: 5px 20px 2px;
                    font-size: 20px;
                    line-height: 1;
                    transition: all 0.4s ease 0s;
                    &:hover {
                        background-color: $black;
                    }
                }
            }
        } 
    }
}
.is-sticky {
    .same-style {
       &.header-search {
            .search-content {
                top: 160%;
            }
        } 
    }
    .header-right-wrap {
        .same-style.cart-wrap {
            .minicart-wrapper {
                top: 165%;
                @media #{$md-layout, $xs-layout} {
                    top: 100%;
                }
            }
        }
    }
}
.is-sticky .header-right-wrap.header-right-wrap-white {
    margin-top: 22px;
    @media #{$md-layout, $xs-layout}{
        margin-top: 0px;
    }
    .same-style {
        > a, button {
            color: $black;
            &:hover {
                color: $theme-color;
            }
        }
        .count-style {
            background-color: $black;
            color: $white;
        }
    }
}


/* header 3 */
.header-padding-2 .container-fluid {
	padding: 0 70px;
    @media #{$xl-layout}{
		padding: 0 15px;
	}
    @media #{$lg-layout}{
		padding: 0 30px;
	}
    @media #{$md-layout}{
		padding: 0 40px;
	}
    @media #{$xs-layout}{
		padding: 0 15px;
	}
}

.header-top-area {
    border-bottom: 1px solid #d5d4d4;
    .header-top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        @media #{$xs-layout}{
            display: block;
            padding-bottom: 15px;
            margin-top: 8px;
        }
        @media #{$sm-layout}{
            display: flex;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
    &.border-none {
        border: none;
    }
}
.header-offer {
    p {
        color: #555252;
        letter-spacing: .8px;
        margin: 0;
        span {
            color: #ff1c1c;
        }
        @media #{$xs-layout}{
            text-align: center;
        }
        @media #{$sm-layout}{
            text-align: right;
        }
    }
    &.header-offer-white {
        p {
            color: $white;
            span {
                color: $black;
            }
        }
    }
}
.language-currency-wrap {
    display: flex;
    align-items: center;
    @media #{$xs-layout}{
        justify-content: center;
    }
    .same-language-currency {
        position: relative;
        margin-right: 54px;
        @media #{$xs-layout}{
            margin-right: 15px;
        }
        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 1px;
            background-color: #d5d4d4;
            right: -27px;
            top: 47%;
            transform: translateY(-50%);
            @media #{$xs-layout}{
                right: -10px;
            }
        }
        &:last-child:before {
            display: none;
        }
        &:last-child {
            margin-right: 0;
        }
        p {
            letter-spacing: .8px;
            color: #555252;
        }
    }
}

/* home 5 */
.home-sidebar-left {
	height: 100%;
	position: fixed;
	top: 0;
	width: 375px;
	z-index: 7;
	padding: 72px 0 40px 0px;
	transition: all 0.3s ease 0s;
    // res
    @media #{$xx-layout, $xl-layout}{
        width: 300px;
        padding:50px 0 30px 0px;
    }
    @media #{$xl-layout}{
        width: 280px;
    }
    @media #{$lg-layout}{
        width: 250px;
    }
    @media #{$md-layout, $xs-layout}{
        display: flex;
        position: inherit;
        align-items: center;
        justify-content: space-between;
        padding: 25px 15px;
        width: inherit;
    }
    .logo {
        margin-top: 0;
        padding-left: 108px;
        @media #{$xx-layout}{
            padding-left: 50px;
        }
        @media #{$xl-layout}{
            padding-left: 30px;
        }
        @media #{$lg-layout}{
            padding-left: 15px;
        }
        @media #{$md-layout, $xs-layout}{
            padding-left: 0;
        }
    }
    .header-right-wrap {
        justify-content: flex-start;
        margin-top: 46px;
        margin-bottom: 67px;
        padding-left: 108px;
        @media #{$xx-layout}{
            padding-left: 50px;
            margin-top: 26px;
            margin-bottom: 27px;
        }
        @media #{$xl-layout}{
            padding-left: 30px;
            margin-top: 26px;
            margin-bottom: 27px;
        }
        @media #{$lg-layout}{
            padding-left: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @media #{$md-layout, $xs-layout}{
            padding-left: 30px;
            margin: 0;
        }
        & .same-style.cart-wrap {
            .minicart-wrapper {
                right: auto;
                left: 0;
                @media #{$xx-layout, $xl-layout}{
                    overflow-y: auto;
                }
                @media #{$md-layout, $xs-layout}{
                    right: 0;
                    left: auto;
                }
            }
        }
        & .same-style.header-search {
            .search-content {
                left: 0;
                right: auto;
                @media #{$md-layout, $xs-layout}{
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    .sidebar-copyright {
        padding: 120px 63px 50px 63px;
        @media #{$xx-layout, $xl-layout}{
            padding: 40px 63px 50px 63px;
        }
        @media #{$lg-layout}{
            padding: 40px 15px 50px 15px;  
        }
        @media #{$md-layout}{
            padding: 50px 15px 50px 30px;  
        }
        p {
            letter-spacing: .9px;
            color: #313131;
            margin: 0;
            text-align: center;
        }
    }
}

.home-sidebar-right {
	border-left: 1px solid #efefef;
	margin-left: 375px;
    @media #{$xx-layout}{
        margin-left: 300px;
    }
    @media #{$xl-layout}{
        margin-left: 280px;
    }
    @media #{$lg-layout}{
        margin-left: 250px;
    }
    @media #{$md-layout, $xs-layout}{
        margin-left: 0px;
    }
}

.sidebar-menu {
    padding: 0px 0 0px 108px;
    @media #{$xx-layout}{
        padding: 0px 0 0px 50px;
    }
    @media #{$xl-layout, $md-layout}{
        padding: 0px 0 0px 30px;
    }
    @media #{$lg-layout}{
        padding: 0px 0 0px 15px;
    }
    nav {
        ul {
            li {
                padding-bottom: 33px;
                position: relative;
                @media #{$xx-layout}{
                    padding-bottom: 20px;
                }
                @media #{$xl-layout}{
                    padding-bottom: 15px;
                }
                @media #{$lg-layout}{
                    padding-bottom: 10px;
                }
                @media #{$md-layout}{
                    padding-bottom: 12px;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                ul.submenu {
                    background-color: $white;
                    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
                    display: block;
                    left: 100%;
                    padding: 20px 0px 22px;
                    position: absolute;
                    top: 0;
                    transform: rotateX(90deg);
                    transform-origin: center top 0;
                    transition: all 0.5s ease 0s;
                    visibility: hidden;
                    width: 190px;
                    z-index: 999;
                    @media #{$lg-layout} {
                        overflow-y: auto;
                        max-height: 250px;
                    }
                    li {
                        display: block;
                        padding: 0 20px;
                        margin-left: 0px;
                        a {
                            color: $dark;
                            display: block;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 32px;
                            text-align: left;
                            text-transform: capitalize;
                            padding-top: 0px;
                            &:hover {
                                color: $theme-color;
                            }
                            &::before {
                                background: $theme-color none repeat scroll 0 0;
                                border-radius: 50%;
                                content: "";
                                height: 7px;
                                left: 15px;
                                opacity: 0;
                                position: absolute;
                                top: 13px;
                                transition: all 0.3s ease-in-out 0s;
                                width: 7px;
                                z-index: 999;
                            }
                        }
                        &:hover a::before {
                            opacity: 1;
                        }
                        &:hover a {
                            padding-left: 12px;
                        }
                    }
                }
                &:hover > ul.submenu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                ul.mega-menu {
                    background-color: $white;
                    display: block;
                    left: 100%;
                    padding: 40px 40px 0px 40px;
                    position: absolute;
                    text-align: left;
                    top: 0;
                    transform: rotateX(90deg);
                    transform-origin: center top 0;
                    transition: all 0.5s ease 0s;
                    visibility: hidden;
                    width: 750px;
                    z-index: 999;
                    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
                    @media #{$xx-layout, $xl-layout}{
                        top: -50px;
                    }
                    @media #{$lg-layout}{
                        top: -80px;
                        width: 720px;
                    }
                    > li {
                        float: left;
                        margin-left: 0;
                        padding: 0;
                        width: 33.33%;
                        ul {
                            li.mega-menu-title {
                                float: inherit;
                                width: 100%;
                                a {
                                    color: #242424;
                                    margin: 0 0 10px;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    font-weight: 500;
                                    &::before {
                                        display: none
                                    }
                                }
                                &:hover a {
                                    padding-left: 0px;
                                }
                            }
                            li {
                                display: block;
                                float: inherit;
                                padding: 0px;
                                a {
                                    color: $dark;
                                    display: block;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 32px;
                                    text-align: left;
                                    text-transform: capitalize;
                                    padding-top: 0px;
                                    &:hover {
                                        color: $theme-color;
                                    }
                                    &::before {
                                        background: $theme-color none repeat scroll 0 0;
                                        border-radius: 50%;
                                        content: "";
                                        height: 7px;
                                        left: 0px;
                                        opacity: 0;
                                        position: absolute;
                                        top: 13px;
                                        transition: all 0.3s ease-in-out 0s;
                                        width: 7px;
                                        z-index: 999;
                                    }
                                }
                                &.mega-menu-img {
                                    &:hover a {
                                        padding-left: 0px;
                                    }
                                    a {
                                       &::before {
                                            display: none;
                                        } 
                                    }
                                }
                                &:hover a::before {
                                    opacity: 1;
                                }
                                &:hover a {
                                    padding-left: 12px;
                                }
                            }
                        }
                    }
                    &.mega-menu-padding {
                        padding: 40px 40px 36px 40px;
                    }
                }
                &:hover > ul.mega-menu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                a {
                    color: $black;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: .8px;
                    text-transform: capitalize;
                    display: block;
                    @media #{$xl-layout, $lg-layout, $md-layout}{
                        font-size: 16px;
                    }
                    span {
                        float: right;
                        padding-right: 20px;
                    }
                }
                &:hover a {
                    color: $theme-color;
                }
            }
        }
    }
}

.transparent-bar {
	left: 0;
    right: 0;
    top: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.header-padding-3 .container-fluid {
	padding: 0 80px;
    @media #{$xl-layout, $lg-layout, $md-layout}{
		padding: 0 40px;
	}
    @media #{$xs-layout}{
		padding: 0 15px;
	}
}

/* home 7 */
.clickable-menu {
    margin-top: 35px;
    button {
        color: $white;
        font-size: 30px;
        line-height: 1;
        display: inline-block;
        &:hover {
            color: $theme-color;
        }
    }
    @media #{$md-layout, $xs-layout}{
		margin-top: -3px;
	}
}

.header-hm-6.is-sticky {
    .clickable-menu {
        margin-top: 19px;
        @media #{$md-layout, $xs-layout}{
            margin-top: 0px;
        }
        button {
            color: #282828;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .logo,
    .header-right-wrap {
        margin-top: 22px;
        margin-bottom: 18px;
        @media #{$md-layout, $xs-layout}{
            margin-top: 2px;
            margin-bottom: 0px;
        }
    }
}

.header-hm-6 {
    .header-right-wrap {
        @media #{$md-layout, $xs-layout}{
            margin-right: 0;
        }
        .same-style{
            &.cart-wrap {
                .shopping-cart-content {
                    @media #{$xs-layout}{
                        right: 0px;
                    }
                }
            }
            &.header-search {
                .search-content {
                    @media #{$xs-layout}{
                        right: -80px;
                    }
                }
            }
        }
    }
}

/* home 9 */
.header-hm9 {
    .logo-hm9 {
        text-align: center;
        @media #{$md-layout, $xs-layout}{
            text-align: left;
        }
    }
    .main-menu {
        nav {
            ul {
                li {
                    a {
                        line-height: 72px;
                    }
                }
            }
        }
    } 
    .header-top-area {
        padding: 22px 0;
        border-bottom: 1px solid #cecece;
        @media #{$md-layout, $xs-layout}{
            border: none;
        }
    }
    .header-right-wrap {
        margin-top: 13px;
    }
    @media #{$md-layout, $xs-layout}{
        .header-res-padding {
            padding: 20px 0 20px;
        }
    }
}

/* header hm10 */
@media #{$sm-layout}{
    .header-in-container {
        .header-top-wap {
            display: block;
            margin-bottom: 15px;
            margin-top: 8px;
            .language-currency-wrap {
                justify-content: center;
            }
            .header-offer {
                p {
                    text-align: center;
                }
            }
        }
    }
}