<template>
  <div class="product-area pb-90">
    <div class="container">
      <SectionTitleWithSubTitle
        title="Productos!"
        classes="section-title"
        v-if="isSectionTitle ? true : false"
      />

      <ul class="nav product-tab-list pt-30 pb-55 justify-content-center">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            data-bs-toggle="pill"
            data-bs-target="#sale-product"
            role="tab"
          >
            Todos los productos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            data-bs-toggle="pill"
            data-bs-target="#new-product"
            role="tab"
          >
            Nuevos productos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            data-bs-toggle="pill"
            data-bs-target="#best-product"
            role="tab"
          >
            Descuentos
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade" id="new-product" role="tabpanel">
          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-sm-6"
              v-for="(product, index) in nuevosproductos"
              :key="index"
            >
              <ProductGridItem :product="product" :layout="layout" />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show active"
          id="best-product"
          role="tabpanel"
        >
          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-sm-6"
              v-for="(product, index) in descuentosproductos"
              :key="index"
            >
              <ProductGridItem :product="product" :layout="layout" />
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="sale-product" role="tabpanel">
          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-sm-6"
              v-for="(product, index) in productos"
              :key="index"
            >
              <ProductGridItem :product="product" :layout="layout" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <QuickView />
  </div>
</template>

<script>
import end from "../../data/config";
export default {
  props: ["isSectionTitle"],
  data() {
    return {
      productos: [],
      nuevosproductos: [],
      descuentosproductos: [],
      layout: "twoColumn",
    };
  },
  components: {
    ProductGridItem: () => import("@/components/product/ProductGridItem"),
    QuickView: () => import("@/components/QuickView"),
  },
  methods: {
    async getProducts() {
      const response = await this.$axios.$post(end.ENDPOINT + "report", {
        procedure: "sp_listatelevision",
        parameters: {},
      });
      if (response.error != true) {
        this.productos = response.data.map((i) => {
          return {
            id: i.Codigo,
            images: [i.Img],
            provider : i.Proveedor,
            title:
              i.Proveedor +
              " " +
              i.Categoria +
              " " +
              i.Caracteristicas +
              " " +
              i.Pulgadas +
              '"',
            new: i.esnuevo,
            discount: i.descuento,
            price: parseInt(i.Precio),
            rating: i.calificacion,
          };
        });

        this.nuevosproductos = this.productos.filter((i) => (i.new = true));
        this.descuentosproductos = this.productos.filter((i) => i.discount > 0);
      } else {
        this.$notify({ title: "Productos no encontrados." });
      }
    },
  },
  computed: {
    newProducts() {
      this.$store.getters.getProducts;
      return this.$store.getters.getNewProducts;
    },
    bestProducts() {
      return this.$store.getters.getBestProducts;
    },
    saleProducts() {
      return this.$store.getters.getSaleProducts;
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>