<template>
  <div class="product-wrap mb-30">
    <div class="product-img">
      <a>
        <img
          class="default-img"
          :src="product.images[0]"
          :alt="product.title"
        />
        <img class="hover-img" :src="product.images[0]" :alt="product.title" />
      </a>
      <div class="product-badges">
        <span class="product-label pink" v-if="product.new">New</span>
        <span class="product-label purple" v-if="product.discount"
          >-{{ product.discount }}%</span
        >
      </div>
      <div class="product-action" v-if="getUser.perfil != 'adm' && getUser.perfil != 'emp'">
        <div class="pro-same-action pro-wishlist">
          <button class="btn" title="Wishlist" @click="addToWishlist(product)">
            <i class="pe-7s-like"></i>
          </button>
        </div>
        <div class="pro-same-action pro-cart">
          <button class="btn" title="Add To Cart" @click="addToCart(product)">
            <i class="pe-7s-cart"></i>
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
    <div class="product-content text-center">
      <h3>
        <a>{{ product.title }}</a>
      </h3>
      <div class="product-rating" v-if="product.rating > 4">
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
      </div>
      <div class="product-rating" v-if="product.rating == 4">
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="product-rating" v-if="product.rating == 3">
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="product-rating" v-if="product.rating == 2">
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="product-rating" v-if="product.rating == 1">
        <i class="fa fa-star-o yellow"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <div class="product-price">
        <span>${{ setCurrency(discountedPrice(product)) }}</span>
        <span class="old" v-if="product.discount > 0"
          >${{ setCurrency(product.price) }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product", "layout"],
  computed: {
    getUser() {
      return this.$store.getters.getUser;
    },
  },
  methods: {
    addToCart(product) {
      const prod = { ...product, cartQuantity: 1 };
      // for notification
      if (this.$store.state.cart.find((el) => product.id === el.id)) {
        this.$notify({ title: "Ya agregado al carrito." });
      } else {
        this.$notify({ title: "Agregado correctamente!" });
      }

      this.$store.dispatch("addToCartItem", prod);
    },

    discountedPrice(product) {
      return product.price - (product.price * product.discount) / 100;
    },

    addToWishlist(product) {
      // for notification
      if (this.$store.state.wishlist.find((el) => product.id === el.id)) {
        this.$notify({ title: "Ya agregado a favoritos." });
      } else {
        this.$notify({ title: "Agregado correctamente!" });
      }

      this.$store.dispatch("addToWishlist", product);
    },
    setCurrency(value) {
      try {
        let value2 = parseFloat(value);
        return value2.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        // eslint-disable-next-line
      } catch (error) {
        return "";
      }
    },
  },
};
</script>