<template>
  <div>
    <header
      class="
        header-area header-padding-1
        sticky-bar
        header-res-padding
        clearfix
      "
      :class="{ 'is-sticky': isSticky }"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-4">
            <div class="logo">
              <n-link to="/">
                <img src="/img/logo/logo.png" alt="logo2" />
              </n-link>
            </div>
          </div>
          <div class="col-lg-8 d-none d-lg-block">
            <div class="main-menu">
              <nav>
                <Navigation />
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-8">
            <div class="header-right-wrap">
              <div class="same-style account-setting d-none d-lg-block">
                <button
                  class="account-setting-active"
                  @click="isOpenAccountSettings = !isOpenAccountSettings"
                >
                  <i class="pe-7s-user-female"></i>
                </button>
                <div
                  class="account-dropdown"
                  :class="{ active: isOpenAccountSettings }"
                >
                  <ul>
                    <li v-if="getUser.dni"><strong>{{ getUser.nombre }}</strong></li>
                    <li v-if="!getUser.dni">
                      <n-link to="/login-register">Ingreso</n-link>
                    </li>
                    <li v-if="!getUser.dni">
                      <n-link to="/login-register">Registro</n-link>
                    </li>
                    <li v-if="getUser.dni">
                      <n-link to="/my-account">Mi Cuenta</n-link>
                    </li>
                    <li v-if="getUser.dni">
                      <a @click="closeSession">Cerrar Sesión</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="same-style header-wishlist" v-if="getUser.perfil != 'adm' && getUser.perfil != 'emp'">
                <n-link to="/wishlist"><i class="pe-7s-like"></i></n-link>
                <span class="count-style">{{ wishlistItemCount }}</span>
              </div>
              <div class="same-style cart-wrap" v-if="getUser.perfil != 'adm' && getUser.perfil != 'emp'">
                <button class="icon-cart" @click="openCart = !openCart">
                  <i class="pe-7s-shopbag"></i>
                  <span class="count-style">{{ cartItemCount }}</span>
                </button>
                <MiniCart
                  :miniCart="{ visible: openCart }"
                  @minicartClose="openCart = !openCart"
                />
              </div>
              <div class="same-style mobile-menu-toggler d-block d-lg-none">
                <button class="mobile-aside-button" @click="navOpen = !navOpen">
                  <i class="pe-7s-menu"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <OffCanvasMobileMenu
      :class="{ 'show-mobile-menu': navOpen }"
      @toggleAsideMenu="navOpen = !navOpen"
    />
  </div>
</template>

<script>
export default {
  components: {
    Navigation: () => import("@/components/Navigation"),
    MiniCart: () => import("@/components/MiniCart"),
  },

  props: ["containerClass"],

  computed: {
    cartItemCount() {
      return this.$store.getters.cartItemCount;
    },
    wishlistItemCount() {
      return this.$store.getters.wishlistItemCount;
    },
    compareItemCount() {
      return this.$store.getters.compareItemCount;
    },
    getUser() {
      return this.$store.getters.getUser;
    },
  },
  data() {
    return {
      isSticky: false,
      isOpenSearch: false,
      isOpenAccountSettings: false,
      openCart: false,
      navOpen: false,
    };
  },

  methods: {
    async closeSession() {
        this.$notify({ title: "Hasta pronto " + this.getUser.nombre});
        this.$store.dispatch('logOut');
    },
  },
  mounted() {
    window.addEventListener("scroll", () => {
      let scroll = window.scrollY;
      if (scroll >= 200) {
        this.isSticky = true;
      } else {
        this.isSticky = false;
      }
    });
  },
};
</script>