<template>
  <div class="login-form">
    <form>
      <input type="text" v-model="email" name="email" placeholder="Usuario" />
      <input
        type="password"
        v-model="password"
        name="password"
        placeholder="Contraseña"
      />
      <div class="button-box">
        <button type="button" @click="loginUser">Ingreso</button>
      </div>
    </form>
  </div>
</template>
<script>
import end from "../data/config";
export default {
  data() {
    return {
      user: {},
      email: "",
      password: "",
    };
  },
  methods: {
    async loginUser() {
      if (this.email == "" || this.password == "") {
        this.$notify({ title: "Diligencie los campos." });
      } else {
        const response = await this.$axios.$post(end.ENDPOINT + "login", {
          email: this.email,
          password: this.password,
        });
        if (response.error != true) {
          this.user = response.data;
          delete this.user.access_token;
          this.$store.dispatch('setUser', this.user);
          this.$router.push({path: '/'});
          this.$notify({ title: "Bienvenido a Giantronic "+this.user.nombre});
        } else {
          this.$notify({ title: "Usuario incorrecto." });
        }
      }
    },
  },
};
</script>