<template>
  <client-only>
    <div class="minicart-wrapper" :class="miniCart">
      <div class="shopping-cart-content" v-if="products.length > 0">
        <ul>
          <li
            class="single-shopping-cart"
            v-for="(product, index) in products"
            :key="index"
          >
            <div class="shopping-cart-img">
              <n-link :to="`/product/${slugify(product.title)}`">
                <img :src="product.images[0]" :alt="product.title" />
              </n-link>
            </div>
            <div class="shopping-cart-title">
              <h4>
                <n-link :to="`/product/${slugify(product.title)}`">{{
                  product.title
                }}</n-link>
              </h4>
              <h6>Cant: {{ product.cartQuantity }}</h6>
              <span>${{ setCurrency(discountedPrice(product)) }}</span>
            </div>
            <div class="shopping-cart-delete">
              <button @click="removeProduct(product)">
                <i class="fa fa-times-circle"></i>
              </button>
            </div>
          </li>
        </ul>
        <div class="shopping-cart-total">
          <h4>
            Total : <span class="shop-total">${{ setCurrency(total) }}</span>
          </h4>
        </div>
        <div
          class="shopping-cart-btn btn-hover text-center"
          @click="$emit('minicartClose')"
        >
          <n-link to="/cart" class="default-btn">Ver productos</n-link>
        </div>
      </div>
      <div class="shopping-cart-content text-center" v-else>
        <p>No hay productos en el carrito</p>
      </div>
    </div>
  </client-only>
</template>

<script>
export default {
  props: ["miniCart"],

  computed: {
    products() {
      return this.$store.getters.getCart;
    },
    total() {
      return this.$store.getters.getTotal;
    },
  },

  methods: {
    removeProduct(product) {
      // for notification
      this.$notify({ title: "Producto eliminado del carrito." });
      this.$store.dispatch("removeProductFromCart", product);
    },

    discountedPrice(product) {
      return product.price - (product.price * product.discount) / 100;
    },

    slugify(text) {
      return text
        .toString()
        .toLowerCase()
        .replace(/\s+/g, "-") // Replace spaces with -
        .replace(/[^\w-]+/g, "") // Remove all non-word chars
        .replace(/--+/g, "-") // Replace multiple - with single -
        .replace(/^-+/, "") // Trim - from start of text
        .replace(/-+$/, ""); // Trim - from end of text
    },
    setCurrency(value) {
      try {
        let value2 = parseFloat(value);
        return value2.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        // eslint-disable-next-line
      } catch (error) {
        return "";
      }
    },
  },
};
</script>