<template>
  <ul>
    <li>
      <n-link to="/">Inicio </n-link>
    </li>
    <li v-if="perfil == 'adm'">
      <a>Mantenimientos <i class="fa fa-angle-down"></i></a>
      <ul class="submenu">
        <li>
          <n-link to="/">Proveedores</n-link>
        </li>
        <li>
          <n-link to="/">Tecnología</n-link>
        </li>
        <li>
          <n-link to="/">Categorías</n-link>
        </li>
        <li>
          <n-link to="/">Televisores</n-link>
        </li>
        <li>
          <n-link to="/">Usuarios</n-link>
        </li>
      </ul>
    </li>
    <li v-if="perfil == 'emp'">
      <n-link to="/">Pedidos Clientes</n-link>
    </li>
    <li v-if="perfil == 'usr'">
      <n-link to="/pedido">Pedidos </n-link>
    </li>
    <li v-if="perfil == 'usr' || perfil == ''">
      <n-link to="/contact">Contacto </n-link>
    </li>
  </ul>
</template>
<script>
export default {
  computed: {
    perfil() {
      let perfil = "";
      if (this.$store.getters.getUser.dni) {
        perfil = this.$store.getters.getUser.perfil;
      }
      return perfil;
    },
  },
};
</script>