<template>
    <div class="register-form">
        <form>
            <input type="text" name="user-name" placeholder="Usuario">
            <input type="password" name="user-password" placeholder="Contraseña">
            <input name="user-email" placeholder="Correo" type="email">
            <div class="button-box">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</template>