<template>
    <footer class="footer-area bg-gray pt-50 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-14">
                    <div class="copyright mb-30">
                        <div class="footer-logo">
                            <n-link to="/">
                                <img src="/img/logo/logo.png" alt="logo">
                            </n-link>
                        </div>
                        <p>© 2022 <a href="#" target="_blank">Giantronic</a>.<br> Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {

    };
</script>