<template>
  <div class="cart-page-wrapper">
    <HeaderWithTopbar containerClass="container" />
    <Breadcrumb pageTitle="Carrito" />

    <div class="cart-main-area pt-90 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-12" v-if="products.length > 0">
            <h3 class="cart-page-title">Productos Agregados</h3>
            <div class="table-content table-responsive cart-table-content">
              <table>
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(product, index) in products" :key="index">
                    <td class="product-thumbnail">
                      <n-link :to="`/product/${slugify(product.title)}`">
                        <img :src="product.images[0]" :alt="product.title" />
                      </n-link>
                    </td>
                    <td class="product-name">
                      <n-link :to="`/product/${slugify(product.title)}`">{{
                        product.title
                      }}</n-link>
                    </td>
                    <td class="product-price-cart">
                      <span class="amount"
                        >${{ setCurrency(discountedPrice(product)) }}</span
                      >
                      <del class="old">${{ setCurrency(product.price) }}</del>
                    </td>
                    <td class="product-quantity">
                      <div class="cart-plus-minus">
                        <button
                          @click="decrementProduct(product)"
                          class="dec qtybutton"
                        >
                          -
                        </button>
                        <input
                          class="cart-plus-minus-box"
                          type="text"
                          :value="product.cartQuantity"
                          readonly
                        />
                        <button
                          @click="incrementProduct(product)"
                          class="inc qtybutton"
                        >
                          +
                        </button>
                      </div>
                    </td>
                    <td class="product-subtotal">
                      ${{ setCurrency(product.total) }}
                    </td>
                    <td class="product-remove">
                      <button @click="removeProduct(product)">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="cart-shiping-update-wrapper">
                  <div class="cart-shiping-update">
                    <a @click="buyNow()">Comprar</a>
                  </div>
                  <div class="cart-clear">
                    <button @click="clearCart()">Limpiar carrito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" v-else>
            <div class="empty-cart text-center">
              <div class="icon">
                <i class="pe-7s-cart"></i>
              </div>
              <h4>No hay productos en el carrito</h4>
              <n-link to="/" class="empty-cart__button">Comprar Ahora</n-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TheFooter />
  </div>
</template>

<script>
import end from "../data/config";
export default {
  components: {
    HeaderWithTopbar: () => import("@/components/HeaderWithTopbar"),
    Breadcrumb: () => import("@/components/Breadcrumb"),
    TheFooter: () => import("@/components/TheFooter"),
  },
  data() {
    return {
      singleQuantity: 1,
    };
  },

  computed: {
    products() {
      return this.$store.getters.getCart;
    },

    total() {
      return this.$store.getters.getTotal;
    },
  },

  methods: {
    incrementProduct(product) {
      const prod = { ...product, cartQuantity: 1 };
      if (product.cartQuantity < product.quantity) {
        this.$store.dispatch("addToCartItem", prod);
      }
    },

    decrementProduct(product) {
      const prod = { ...product, cartQuantity: 1 };
      if (product.cartQuantity > 1) {
        this.$store.dispatch("decreaseProduct", prod);
      }
    },

    removeProduct(product) {
      // for notification
      this.$notify({ title: "Producto eliminado del carrito!" });

      this.$store.dispatch("removeProductFromCart", product);
    },

    discountedPrice(product) {
      return product.price - (product.price * product.discount) / 100;
    },

    clearCart() {
      if (confirm("Are you sure you want to clear cart")) {
        // for notification
        this.$notify({ title: "Producto eliminado del carrito!" });

        this.$store.commit("CLEAR_CART");
      }
    },
    async buyNow() {
      if (this.$store.getters.getUser.dni) {
        const response = await this.$axios.$post(end.ENDPOINT + "report", {
          procedure: "dbo.sp_registrarpedidocab",
          parameters: {
            dni: this.$store.getters.getUser.dni,
            monto: `${this.$store.getters.getTotal}`,
          },
        });
        if (response.error == true) {
          this.$notify({ title: "No fue posible crear el pedido." });
          return;
        }

        for (let i = 0; i < this.products.length; i++) {
          let subprice =
            this.products[i].discount > 0
              ? this.products[i].price -
                (this.products[i].price * this.products[i].discount) / 100
              : this.products[i].price;

          await this.$axios.$post(end.ENDPOINT + "report", {
            procedure: "dbo.sp_registrarpedidodet",
            parameters: {
              pedcod: `${response.data[0].pedido}`,
              nomprov: this.products[i].provider,
              precio: `${subprice}`,
              modelo: this.products[i].id,
              cantidad: `${this.products[i].cartQuantity}`,
              subtotal: `${subprice * this.products[i].cartQuantity}`,
            },
          });
        }

        this.$notify({
          title: "Pedido realizado con éxito",
        });
      } else {
        this.$notify({
          title: "Debe ingresar primero su usuario y contraseña en el Login",
        });
      }
    },
    slugify(text) {
      return text
        .toString()
        .toLowerCase()
        .replace(/\s+/g, "-") // Replace spaces with -
        .replace(/[^\w-]+/g, "") // Remove all non-word chars
        .replace(/--+/g, "-") // Replace multiple - with single -
        .replace(/^-+/, "") // Trim - from start of text
        .replace(/-+$/, ""); // Trim - from end of text
    },
    setCurrency(value) {
      try {
        let value2 = parseFloat(value);
        return value2.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        // eslint-disable-next-line
      } catch (error) {
        return "";
      }
    },
  },

  head() {
    return {
      title: "Cart",
    };
  },
};
</script>
