<template>
  <div class="shop-page-wrapper">
    <HeaderWithTopbar containerClass="container" />
    <Breadcrumb pageTitle="Mi cuenta" />

    <div class="my-account-area pb-80 pt-100">
      <div class="container">
        <div class="row">
          <div class="ms-auto me-auto col-lg-9">
            <div class="my-account-wrapper">
              <div id="faq" class="panel-group">
                <div class="panel panel-default single-my-account">
                  <div class="panel-heading my-account-title">
                    <h3 class="panel-title">
                      <a>Editar información personal </a>
                    </h3>
                  </div>
                  <div
                    id="my-account-1"
                    class="panel-collapse collapse show"
                    data-bs-parent="#faq"
                  >
                    <div class="panel-body">
                      <div class="myaccount-info-wrapper">
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Nombre</label>
                              <input type="text" v-model="user.nombre" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Apellido</label>
                              <input type="text" v-model="user.apellidop" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Correo</label>
                              <input type="email" v-model="user.correo" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Teléfono</label>
                              <input type="text" v-model="user.telefono" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Dirección</label>
                              <input type="text" v-model="user.direccion" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Usuario</label>
                              <input type="text" v-model="user.nick" />
                            </div>
                          </div>
                          <!-- <hr />
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Contraseña</label>
                              <input type="password" v-model="pass" />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="billing-info">
                              <label>Repetir Contraseña</label>
                              <input type="password" v-model="pass2" />
                            </div>
                          </div> -->
                        </div>
                        <div class="billing-back-btn">
                          <div class="billing-btn">
                            <button type="button" @click="guardarCampos()">
                              Guardar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import end from "../data/config";
export default {
  components: {
    HeaderWithTopbar: () => import("@/components/HeaderWithTopbar"),
    Breadcrumb: () => import("@/components/Breadcrumb"),
    TheFooter: () => import("@/components/TheFooter"),
  },
  computed: {
    getUser() {
      return { ...this.$store.getters.getUser };
    },
  },
  methods: {
    async guardarCampos() {
      const response = await this.$axios.$put(end.ENDPOINT + "user", this.user);
      if (response.error != true) {
        this.$store.dispatch("setUser", response.data);
        this.$router.push({ path: "/" });
        this.$notify({
          title: "Cambios guardados con éxito " + this.user.nombre,
        });
      } else {
        this.$notify({ title: "No fue posible guardar los cambios." });
      }
    },
  },
  mounted() {
    this.user = this.getUser;
  },
  data() {
    return {
      user: {},
    };
  },
  head() {
    return {
      title: "Mi Cuenta",
    };
  },
};
</script>
