<template>
  <div class="cart-page-wrapper">
    <HeaderWithTopbar containerClass="container" />
    <Breadcrumb pageTitle="Pedidos" />

    <div class="cart-main-area pt-90 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-12" v-if="pedidos.length > 0">
            <h3 class="cart-page-title">Pedidos Realizados</h3>
            <div class="table-content table-responsive cart-table-content">
              <table>
                <thead>
                  <tr>
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th>Documento</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pedido, index) in pedidos" :key="index">
                    <td class="product-name">
                      {{ pedido.pedcod }}
                    </td>
                    <td class="product-name">
                      {{ pedido.cliente }}
                    </td>
                    <td class="product-name">
                      {{ pedido.dni }}
                    </td>
                    <td class="product-name">
                      {{ new Date(pedido.fecha).toLocaleString() }}
                    </td>
                    <td class="product-name">
                      $ {{ setCurrency(pedido.monto) }}
                    </td>
                    <td class="product-name">
                      {{ pedido.estdesc }}
                    </td>
                    <td class="product-remove">
                      <button @click="onClick(pedido)">Detalle</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12" v-else>
            <div class="empty-cart text-center">
              <div class="icon">
                <i class="pe-7s-cart"></i>
              </div>
              <h4>No hay pedidos realizados</h4>
              <n-link to="/" class="empty-cart__button">Comprar Ahora</n-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TheFooter />
  </div>
</template>

<script>
import end from "../data/config";
export default {
  props: ["product"],
  components: {
    HeaderWithTopbar: () => import("@/components/HeaderWithTopbar"),
    Breadcrumb: () => import("@/components/Breadcrumb"),
    TheFooter: () => import("@/components/TheFooter"),
  },
  data() {
    return {
      pedidos: [],
    };
  },

  computed: {
    products() {
      return this.$store.getters.getCart;
    },

    total() {
      return this.$store.getters.getTotal;
    },
  },

  methods: {
    async listPedidos() {
      if (this.$store.getters.getUser.dni) {
        const response = await this.$axios.$post(end.ENDPOINT + "report", {
          procedure: "dbo.sp_listapedidos",
          parameters: {},
        });
        if (response.error == true) {
          this.$notify({ title: "No fue posible crear el pedido." });
          return;
        }

        this.pedidos = response.data.filter(
          (i) => i.dni == this.$store.getters.getUser.dni
        );
      } else {
        this.$notify({
          title: "Debe ingresar primero su usuario y contraseña en el Login",
        });
      }
    },
    setCurrency(value) {
      try {
        let value2 = parseFloat(value);
        return value2.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        // eslint-disable-next-line
      } catch (error) {
        return "";
      }
    },
    onClick(product) {
      console.log(product);
      this.$modal.show("quickview", product);
    },
  },
  mounted() {
    this.listPedidos();
  },

  head() {
    return {
      title: "Pedido",
    };
  },
};
</script>
