<template>
  <div class="cart-page-wrapper">
    <HeaderWithTopbar containerClass="container" />
    <Breadcrumb pageTitle="Favoritos" />

    <!-- wishlist section start -->
    <div class="cart-main-area pt-90 pb-100">
      <div class="container">
        <div class="row" v-if="products.length > 0">
          <div class="col-12">
            <h3 class="cart-page-title">Productos Favoritos</h3>
            <div class="table-content table-responsive cart-table-content">
              <table>
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Agregar a carrito</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(product, index) in products" :key="index">
                    <td class="product-thumbnail">
                      <n-link :to="`/product/${slugify(product.title)}`">
                        <img :src="product.images[0]" :alt="product.title" />
                      </n-link>
                    </td>
                    <td class="product-name">
                      <n-link :to="`/product/${slugify(product.title)}`">{{
                        product.title
                      }}</n-link>
                    </td>
                    <td class="product-price-cart">
                      <span class="amount"
                        >${{ setCurrency(discountedPrice(product)) }}</span
                      >
                      <del class="old" v-if="product.discount > 0"
                        >${{ setCurrency(product.price) }}</del
                      >
                    </td>
                    <td class="product-wishlist-cart">
                      <button @click="addToCart(product)">Agregar</button>
                    </td>
                    <td class="product-remove">
                      <button @click="removeProductFromWishlist(product)">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-12">
            <div class="empty-cart text-center">
              <div class="icon">
                <i class="pe-7s-like"></i>
              </div>
              <h4>No se encontraron productos favoritos</h4>
              <n-link to="/" class="empty-cart__button"
                >Agregar producto</n-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    HeaderWithTopbar: () => import("@/components/HeaderWithTopbar"),
    Breadcrumb: () => import("@/components/Breadcrumb"),
    TheFooter: () => import("@/components/TheFooter"),
  },
  computed: {
    products() {
      return this.$store.getters.getWishlist;
    },
  },

  methods: {
    addToCart(product) {
      const prod = { ...product, cartQuantity: 1 };
      // for notification
      if (this.$store.state.cart.find((el) => product.id === el.id)) {
        this.$notify({ title: "Agregado al carrito anteriormente" });
      } else {
        this.$notify({ title: "Agregado al carrito correctamente!" });
      }

      this.$store.dispatch("addToCartItem", prod);
    },

    removeProductFromWishlist(product) {
      // for notification
      this.$notify({ title: "Remove item from wishlist!" });

      this.$store.dispatch("removeProductFromWishlist", product);
    },

    discountedPrice(product) {
      return product.price - (product.price * product.discount) / 100;
    },

    slugify(text) {
      return text
        .toString()
        .toLowerCase()
        .replace(/\s+/g, "-") // Replace spaces with -
        .replace(/[^\w-]+/g, "") // Remove all non-word chars
        .replace(/--+/g, "-") // Replace multiple - with single -
        .replace(/^-+/, "") // Trim - from start of text
        .replace(/-+$/, ""); // Trim - from end of text
    },
    setCurrency(value) {
      try {
        let value2 = parseFloat(value);
        return value2.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        // eslint-disable-next-line
      } catch (error) {
        return "";
      }
    },
  },

  head() {
    return {
      title: "Favoritos",
    };
  },
};
</script>
