<template>
    <div class="support-area pt-100 pb-90">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-lg-3 col-sm-6 mt-30" v-for="(policy, index) in policies" :key="index">
                    <div class="support-wrap support-1">
                        <div class="support-icon">
                            <img class="animated" :src="policy.icon" :alt="policy.title">
                        </div>
                        <div class="support-content">
                            <h5>{{ policy.title }}</h5>
                            <p>{{ policy.subTitle }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                policies: [
                    {
                        icon: "/img/icon-img/support-1.png",
                        title: "Envio gratuito",
                        subTitle: "En todas las órdenes"
                    },
                    {
                        icon: "/img/icon-img/support-2.png",
                        title: "Soporte 24/7",
                        subTitle: "Soporte 24 horas al día"
                    },
                    {
                        icon: "/img/icon-img/support-3.png",
                        title: "Devolución de dinero",
                        subTitle: "30 días para devolución"
                    },
                    {
                        icon: "/img/icon-img/support-4.png",
                        title: "Descuento 10%",
                        subTitle: "En tu primer pedido"
                    },
                ]
            }
        },
    };
</script>
